* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f7f7f7f7;
}

.wrapper {
    background-color: #fff;
    width: 450px;
    border-radius: 16px;
    box-shadow: 0 0 128px 0 rgb(243, 242, 242), 0 32px 64px -48px rgb(117, 116, 116);
}


/* Sign Up form css code */

.form {
    padding: 25px 30px;
}

.form header {
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 10px;
}

.form form {
    margin: 20px 0;
}

.form form .field i.active::before {
    color: #333;
    content: "\f070";
}

.form form .error-txt {
    color: #721c24;
    background-color: #f8d7da;
    padding: 8px 10px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #f5c6cd;
    display: none;
}

.form form .name-details {
    display: flex;
}

.form form .name-details .field:first-child {
    margin-right: 10px;
}

.form form .name-details .field:last-child {
    margin-left: 10px;
}

.form form .field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    position: relative;
}

.form form .field input {
    outline: none;
}

.form form .input input {
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form form .image input {
    font-size: 17px;
}

.form form .field i {
    position: absolute;
    right: 15px;
    color: #ccc;
    top: 70%;
    transform: translateY(-50%);
    cursor: pointer;
}

.form form .submit input {
    margin-top: 13px;
    height: 45px;
    border: none;
    font-size: 17px;
    font-weight: 400;
    background-color: #7d1286;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.form .link {
    text-align: center;
    margin: 10px 0;
    font-size: 17px;
}

.form .link a {
    color: #333;
}

.form .link a:hover {
    text-decoration: underline;
}


/* User are CSS code */

.users {
    padding: 25px 30px;
}

.users header,
.users-list a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid #e6e6e6e6;
}

.wrapper img {
    object-fit: cover;
    /* object-position: left; */
    border-radius: 50%;
}

.users header .content img {
    height: 50px;
    width: 50px;
}

:is(.users header, .users-list) .content {
    display: flex;
    align-items: center;
}

:is(.users, .users-list) .details {
    margin-left: 15px;
    color: #000;
}

.users header .details span {
    font-size: 18px;
    font-weight: 500;
}

.users header .logout {
    color: #fff;
    padding: 7px 15px;
    font-size: 17px;
    background-color: #333;
    border-radius: 5px;
}

.users .search {
    margin: 20px 0;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
}

.users .search .text {
    font-size: 18px;
}

.users .search button.active {
    color: #fff;
    background-color: #333;
}

.users .search button.active i::before {
    content: "\f00d";
}

.users .search input {
    position: absolute;
    height: 42px;
    width: calc(88%);
    border: 1px solid #ccc;
    padding: 0 13px;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
    outline: none;
    opacity: 0;
}

.users .search input.active {
    opacity: 1;
}

.users .search button {
    width: 47px;
    height: 42px;
    border: none;
    outline: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    color: #fff;
    background-color: #333;
    font-size: 17px;
}

.users-list {
    max-height: 350px;
    overflow: auto;
}

:is(.users-list, .chat-box)::-webkit-scrollbar {
    width: 0px;
}

.users-list a .content img {
    height: 40px;
    width: 40px;
}

.users-list a {
    padding-right: 15px;
    margin-bottom: 15px;
    page-break-after: 10px;
    /* position:inherit; */
    border-bottom: 1px solid #f6f6f6f6;
    border-bottom-color: #f1f1f1f1;
}

.users-list a .status-dot {
    font-size: 12px;
    color: #468669;
}

.users-list a .content p {
    color: #676767;
}

.users-list a:last-child {
    border: none;
    margin-bottom: 0px;
}

.users-list a .status-dot.offline {
    color: #ccc;
}


/* Chat area CSS code */

.chat-area header {
    display: flex;
    align-items: center;
    padding: 18px 30px;
}

.chat-area header .back-icon {
    font-size: 18px;
    color: #333;
}

.chat-area header img {
    height: 45px;
    width: 45px;
    margin: 0 15px;
}

.chat-area header span {
    font-size: 17px;
    font-weight: 500;
}

.chat-area header p {
    color: rgb(41, 158, 12);
}

.chat-box {
    overflow-y: auto;
    height: 450px;
    background-color: #f7f7f7f7;
    padding: 10px 30px 20px 30px;
    box-shadow: inset 0 32px 32px -32px rgb(0 0 0/5%), inset 0 -32px 32px -32px rgb(0 0 0/5%);
}

.chat-box .outgoing {
    display: flex;
}

.chat-box .chat p {
    word-wrap: break-word;
    padding: 8px 16px;
    box-shadow: 0 32px 32px rgb(0 0 0/8%), 0 16px 16px -16px rgb(0 0 0/10%);
}

.chat-box .chat {
    margin: 15px 0;
}

.outgoing .details {
    margin-left: auto;
    max-width: 70%;
}

.outgoing .details p {
    background-color: #333;
    border-radius: 18px 18px 0 18px;
    color: #ffffff;
}

.chat-box .incoming {
    display: flex;
    align-items: flex-end;
}

.chat-box .incoming img {
    width: 35px;
    height: 35px;
}

.incoming .details p {
    background-color: #fff;
    color: #333;
    border-radius: 18px 18px 18px 0;
}

.incoming .details {
    margin-left: 10px;
    margin-right: auto;
    max-width: calc(70%);
}

.chat-area .typing-area {
    padding: 18px 30px;
    display: flex;
    justify-content: space-between;
}

.typing-area input {
    height: 45px;
    width: calc(86%);
    font-size: 17px;
    border: 1px solid #ccc;
    padding: 0 13px;
    outline: none;
    border-radius: 5px 0 0 5px;
}

.typing-area button {
    width: 55px;
    border: none;
    outline: none;
    border-radius: 0 5px 5px 0;
    font-size: 19px;
    cursor: pointer;
    background-color: #333;
    color: #fff;
}